
<!-- _CookieConsentBanner.cshtml -->

<div id="cookieConsentBanner" class="cookie-consent-banner">
    <p>This website uses cookies to ensure you get the best experience on our website. <a asp-asp-controller="Home" asp-action="Privacy">Learn more</a></p>
    <button id="acceptCookiesBtn" class="btn btn-primary">Accept</button>
    <button id="declineCookiesBtn" class="btn btn-secondary">Decline</button>
</div>

