@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Meet Aurora Brickwell: LEGO Master Builder & Collector Extraordinaire</h1>
        </div>
    </div>
    <div class="row align-items-center my-4">
        <div class="col-md-4">
            <img src="~/img/herFace.png" alt="A photo of Aurora Brickwell"  />
        </div>
        <div class="col-md-8">
            <p>Hello, LEGO lovers! I’m Aurora Brickwell, a devoted LEGO collector and master builder. My world revolves around these magical bricks – collecting rare sets, designing unique creations, and sharing my passion with a vibrant community online and at trade shows.</p>
            <br />
            <p>This website is my newest adventure, offering a specially curated selection of LEGO sets and my own exclusive designs. It’s more than a store; it’s a platform for us to connect, create, and celebrate the joy of LEGO.</p>
            <br />
            <p>Join me in building dreams, one brick at a time! Whether you’re a seasoned builder or just starting, there’s always something exciting to discover in the world of LEGO!</p>
            <br />
            <p class="p-bold">Happy Building,<br />Aurora Brickwell</p>
        </div>
    </div>
</div>