@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<form asp-action="Create" method="post">
    <label asp-for="Name">Product Name</label>
    <input asp-for="Name" type="text" />

    <label asp-for="Year">Year</label>
    <input asp-for="Year" type="number" />

    <label asp-for="NumParts">Number of Parts</label>
    <input asp-for="NumParts" type="number" />

    <label asp-for="Price">Price</label>
    <input asp-for="Price" type="number" step="0.01" />

    <label asp-for="ImgLink">Image Link</label>
    <input asp-for="ImgLink" type="text" />

    <label asp-for="PrimaryColor">Primary Color</label>
    <input asp-for="PrimaryColor" type="text" />

    <label asp-for="SecondaryColor">Secondary Color</label>
    <input asp-for="SecondaryColor" type="text" />

    <label asp-for="Description">Description</label>
    <textarea asp-for="Description"></textarea>

    <label asp-for="Category">Category</label>
    <input asp-for="Category" type="text" />

    <button type="submit">Add Product</button>
</form>

