@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Customer

<!--Basically this is a AddCustomerForm-->

<h1>Shipping/Billing Information</h1>

<form asp-action="FinishCheckout" method="post">

    <label asp-for="UserId">User ID: @Model.UserId</label><br>
    <input type="hidden" asp-for="UserId"><br>
    <input type="hidden" asp-for="CustomerId" />

    <label asp-for="CustomerFirstName">First Name:</label><br>
    <input asp-for="CustomerFirstName" type="text" required /><br>

    <label asp-for="CustomerLastName">Last Name:</label><br>
    <input asp-for="CustomerLastName" type="text" required /><br>

    <label asp-for="BirthDate">Birth Date:</label><br>
    <input asp-for="BirthDate" type="date" required /><br>

    <label asp-for="Gender">Gender:</label><br>
    <select asp-for="Gender" required>
        <option value="">Select...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select><br>

    <label asp-for="Age">Age:</label><br>
    <input asp-for="Age" type="number" min="0" max="150" required /><br>

    <h2>Shipping Information</h2>

    <label asp-for="Address1">Address 1:</label><br>
    <input asp-for="Address1" type="text" required /><br>

    <label asp-for="Address2">Address 2:</label><br>
    <input asp-for="Address2" type="text" /><br>

    <label asp-for="City">City:</label><br>
    <input asp-for="City" type="text" required /><br>

    <label asp-for="State">State:</label><br>
    <input asp-for="State" type="text" required /><br>

    <label asp-for="Country">Country:</label><br>
    <select asp-for="Country" required>
        <option value="">Select...</option>
        <option value="United States">United States</option>
        <option value="China">China</option>
        <option value="Japan">Japan</option>
        <option value="Germany">Germany</option>
        <option value="India">India</option>
        <option value="The United Kingdom">The United Kingdom</option>
        <option value="France">France</option>
        <option value="Russia">Russia</option>
        <option value="Canada">Canada</option>
        <option value="Italy">Italy</option>
    </select><br>

    <label asp-for="Phone">Phone:</label><br>
    <input asp-for="Phone" type="tel" required /><br>

    <label asp-for="Email">Email:</label><br>
    <input asp-for="Email" type="email" required /><br>

    <label asp-for="Zip">Zip:</label><br>
    <input asp-for="Zip" type="text" required /><br>

    <h2>Payment Information</h2>

    <label asp-for="CCNumber">Credit Card Number:</label><br>
    <input asp-for="CCNumber" type="number" required /><br>

    <label asp-for="CCDate">Credit Card Expiry Date:</label><br>
    <input asp-for="CCDate" type="date" required /><br>

    <label asp-for="CCCode">Credit Card CVV:</label><br>
    <input asp-for="CCCode" type="number" required /><br>

    <label asp-for="CardholderName">Cardholder Name:</label><br>
    <input asp-for="CardholderName" type="text" required /><br>

    <button type="submit">Submit</button>
</form>

<div class="text-center" id="predictionResult">
    @if (TempData["Prediction"] != null)
    {
        @* <h2>Prediction: @TempData["Prediction"]</h2> *@
    }
</div>
