@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Customer

<!--Basically this is a AddCustomerForm-->

<h1>Checkout</h1>

<!-- Form to collect information necessary to process an order-->

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form method="post">
                <label asp-for="UserId">User ID: @Model.UserId</label><br>
                <input type="hidden" asp-for="UserId"><br>
                <input type="hidden" asp-for="CustomerId" />

                <label asp-for="CustomerFirstName">First Name:</label><br>
                <input asp-for="CustomerFirstName" type="text" required /><br>

                <label asp-for="CustomerLastName">Last Name:</label><br>
                <input asp-for="CustomerLastName" type="text" required /><br><br />

                <!--Super Suspicious to Ask for birthdate and age and gender here-->

                <h2>Shipping Information</h2>

                <label asp-for="Address1">Address 1:</label><br>
                <input asp-for="Address1" type="text" required /><br>

                <label asp-for="Address2">Address 2:</label><br>
                <input asp-for="Address2" type="text" /><br>

                <label asp-for="City">City:</label><br>
                <input asp-for="City" type="text" required /><br>

                <label asp-for="State">State:</label><br>
                <input asp-for="State" type="text" required /><br>

                <label asp-for="Country">Country:</label><br>
                <select asp-for="Country" required>
                    <option value="">Select...</option>
                    <option value="United States">United States</option>
                    <option value="China">China</option>
                    <option value="Japan">Japan</option>
                    <option value="Germany">Germany</option>
                    <option value="India">India</option>
                    <option value="The United Kingdom">The United Kingdom</option>
                    <option value="France">France</option>
                    <option value="Russia">Russia</option>
                    <option value="Canada">Canada</option>
                    <option value="Italy">Italy</option>
                </select><br>

                <label asp-for="Phone">Phone:</label><br>
                <input asp-for="Phone" type="tel" required /><br>

                <label asp-for="Email">Email:</label><br>
                <input asp-for="Email" type="email" required /><br>

                <label asp-for="Zip">Zip:</label><br>
                <input asp-for="Zip" type="text" required /><br><br />

                <h2>Payment Information</h2>

                <label asp-for="CCNumber">Credit Card Number:</label><br>
                <input asp-for="CCNumber" type="text" minlength="16" maxlength="16" pattern="\d{16}" required /><br>

                <label asp-for="CCDate">Credit Card Expiry Date:</label><br>
                <input asp-for="CCDate" type="text" pattern="(0[1-9]|1[0-2])\/\d{2}" placeholder="mm/yy" required /><br>

                <label asp-for="CCCode">Credit Card CVV:</label><br>
                <input asp-for="CCCode" type="text" minlength="3" maxlength="3" pattern="\d{3}" required /><br>

                <label asp-for="CardholderName">Cardholder Name:</label><br>
                <input asp-for="CardholderName" type="text" required /><br><br />

                <button class="our-custom-button" type="submit">Submit</button>
             </form>
        </div>
        <div class="col-md-6">
            <vc:cart-summary />
        </div>
    </div>
</div>

<!--Before Order is processed, it is assessed for fraudulent behavior-->

<div class="text-center" id="predictionResult">
    @if (TempData["Prediction"] != null)
    {
        @* <h2>Prediction: @TempData["Prediction"]</h2> *@
    }
</div>
