@model IEnumerable<BrickwellStore.Data.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="homeBanner"><img src="~/img/Home Banner.png" alt="home banner"/></div>
<!--stuff-->



<div class="container mt-3">

    <style>
        .custom-col {
            flex: 0 0 20%;
            max-width: 20%;
        }
        /* This ensures there's no margin or padding issues */
        .no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

            .no-gutters > .col,
            .no-gutters > [class*="col-"] {
                padding-right: 0;
                padding-left: 0;
            }
    </style>

    <div class="row no-gutters mt-3">
        <h2>Recommendations for You</h2>
        @foreach (var product in Model)
        {
            <div class="custom-col mb-3">
                <partial name="ProductSummary" model="product" />
            </div>
        }
    </div>
</div>


