@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductsListViewModel

<br />
<h2>My Order History</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th>Completion Status</th>
            <th>View Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model.Orders)
        {
            <tr>
                <td>@order.TransactionId</td>
                <td>@order.CustomerId</td>
                <td>@order.Date</td>

                @if (order.Fraud == true)
                {
                    <td>Pending</td>
                } else
                {
                    if (order.IsCompleted == false)
                    {
                        <td>Not Completed Yet</td>
                    } else
                    {
                        <td>Complete</td>
                    }
                }
                <td><a class="btn btn-primary" asp-controller="Order" asp-action="ViewOrder" asp-route-id="@order.TransactionId">View</a></td>
            </tr>
        }
    </tbody>
</table>

