@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel

<h1>Our Products</h1>

<button class="btn btn-primary">Add a Product</button>

@foreach (Product p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div page-model="@Model.PaginationInfo" page-action="Product" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-productColor="@Model.CurrentProductColor" class="btn-group pull-right m-1"></div>
