@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel

<h1>Our Products</h1>

<button class="btn btn-primary">Add a Product</button>
<div class="row m-1 p-1">
    <div class="col-3">
        <vc:product-colors />
        <vc:product-categories />

        <!-- Product.cshtml -->
        <form method="get" asp-page="/Product">
            <label for="itemsPerPage">Items per Page:</label>
            <select id="itemsPerPage" name="itemsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <button type="submit">Apply</button>
        </form>


    </div>

    <div class="container col-9">

    @foreach (Product p in Model.Products)
    {
        <partial name="ProductSummary" model="p" />
    }

    <div page-model="@Model.PaginationInfo" page-action="Product" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-productColor="@Model.CurrentProductColor" page-url-productCategory="@Model.CurrentProductCategory" class="btn-group pull-right m-1"></div>
    </div>
</div>