:root {
    --bs-font-sans-serif: "Space Grotesk", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --brickwell-yellow: #FFD43B;
    --brickwell-HBT: #272343;
    --brickwell-background: #FFFFFE;
}

::-webkit-scrollbar {
    display: none;
}

p{
    margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:var(--brickwell-background);
  
}

.brickwell-yellow-bg {
    background-color: var(--brickwell-yellow);
}

a{
    text-decoration: none;
    color: var(--brickwell-HBT)
}

/*Nav Styles*/
.navbar .custom-nav-link {
    color: var(--brickwell-HBT) !important;
    font-weight: 500;
}

.navbar .custom-nav-link:hover {
    color: var(--brickwell-HBT) !important;
    font-weight: 900;
}

nav{
    height: 8vh;
}

/*Button styles*/
button{
    color: var(--brickwell-HBT) !important;
    background-color: var(--brickwell-yellow) !important;
}

.btn-primary{
    color: var(--brickwell-HBT);
    background-color: var(--brickwell-yellow);
}



.bg-primary{
    color: var(--brickwell-HBT) !important;
    background-color: var(--brickwell-yellow) !important;
    font-weight: 400;
}


.homeBanner img{
    width: 100%;
    max-width: 1500px;
}

.homeBanner{
   
    text-align: center;
}

.container-fluid{
    min-width: 1000px;
    width:80vw;
    max-width: 1300px;
}

.custom-card {
    text-align: center;
    align-items:center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--brickwell-background);
    background-clip: border-box;
    border: 2px solid var(--brickwell-HBT);
    border-radius: 1rem;
    margin: 10px;
    width: 210px;
    padding: 10px;      
    height: 300px;
}


.custom-card-image{
    width: 80%;
}
