:root {
    --bs-font-sans-serif: "Space Grotesk", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --brickwell-yellow: #FFD43B;
    --brickwell-HBT: #272343;
    --brickwell-background: #FFFFFE;
    --greyedOut: #F0F0F0;
}

::-webkit-scrollbar {
    display: none;
}

p{
    margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:var(--brickwell-background);
  
}
h1{
    padding-top:10px;
}

.brickwell-yellow-bg {
    background-color: var(--brickwell-yellow);
}

a{
    text-decoration: none;
    color: var(--brickwell-HBT)
}
a:hover{
    font-weight:700;
    color:var(--brickwell-HBT);
}
/*Nav Styles*/
.navbar .custom-nav-link {
    color: var(--brickwell-HBT) !important;
    font-weight: 500;
}

.navbar .custom-nav-link:hover {
    color: var(--brickwell-HBT) !important;
    font-weight: 900;
}

nav{
    height: 8vh;
}

/*Button styles*/
button{
    color: var(--brickwell-HBT) !important;
    background-color: var(--brickwell-yellow) !important;
}

.btn-primary{
    color: var(--brickwell-HBT);
    background-color: var(--brickwell-yellow);
    border-color: var(--brickwell-HBT);
}

.btn-primary:hover{
    font-weight:700;
    outline: 1px solid var(--brickwell-HBT);
}

.full-wdith{
    width: 100% !important;
}

#loginButtons {
    width: 100% !important;
    margin-top: 10px;
    padding: 10px;
    border-radius: .5em;
    border: 2px solid var(--greyedOut);
    background-color: var(--greyedOut) !important;
}

#loginButtons:hover{
    font-weight: 900;
    border: 2px solid var(--brickwell-HBT);
}

.eighty-width{
    width: 80%;

}

#descriptionCartButton{
    height: 50px;
    border-radius: .5em;
    font-weight: 600;
}

#productSummaryBagButton{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: .5em;
    font-weight: 400;
}

#productSummaryBagButton:hover{
    font-weight: 600;
    border: solid var(--brickwell-HBT)
}


.bg-primary{
    color: var(--brickwell-HBT) !important;
    background-color: var(--brickwell-yellow) !important;
    font-weight: 400;
}


.homeBanner img{
    width: 100%;
    max-width: 1500px;
}

.homeBanner{
   
    text-align: center;
}

.container-fluid{
    min-width: 1000px;
    width:80vw;
    max-width: 1300px;
}

.custom-card {
    text-align: center;
    align-items:center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--brickwell-background);
    background-clip: border-box;
    border: 2px solid var(--brickwell-HBT);
    border-radius: 1rem;
    margin: 10px;
    width: 229px;
    padding: 10px;      
    height: 300px;
}


.custom-card-image{
    width: 80%;
}

.p-bold{
    font-weight: 900;
}

.login-outline{
    outline: 2px solid var(--brickwell-HBT);
    padding: 20px;
    border-radius: .8em;
    text-align: center;

}

.centered-container {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 80vh;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px; /* Adjust the size as needed */
    color: #000; /* Adjust the color as needed */
    cursor: pointer;
}

.our-custom-button { 
    background-color: var(--brickwell-yellow) !important;
    color: var(--brickwell-HBT);
    padding: 10px;
    border-radius: .5em;
}

.our-custom-button:hover{
    outline: 2px solid var(--brickwell-HBT);
}

.left-justify{
    text-align:left;
    width: 80%;
    margin-bottom: 0;
}


.nav-link{
    color:var(--brickwell-HBT);
}

.nav-link:hover{
    color:var(--brickwell-HBT);
    font-weight:700;
}

.nav-link.active{
    background-color:var(--brickwell-yellow)!important;
    color:var(--brickwell-HBT) !important;
    font-weight:700;
}

.our-custom-button-sm{
    background-color:var(--brickwell-yellow);
    padding: 5px;
    border-radius:.2em;
}

input, textarea, select{
    border-radius: .2em;
}

.fraud-row {
    background-color: #FF8A8A;
}